<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>

</head>

<body>



<div id="wrapper">

    <div th:replace="fragments/header :: header"/>
    <!-- Custom CSS form -->
    <link href="/css/form-css.css" rel="stylesheet"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--<h1 class="page-header">Forms</h1>-->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         Form Input Sales (Last Week)
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="#" th:action="@{/forms/addL}" method="post"  th:object="${sale}">
                                    <div class="form-group col-lg-4">
                                        <label for="pipeline" class="cols-sm-2 control-label">Pipeline </label>
                                        <div class="cols-sm-6 ">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-inbox fa" aria-hidden="true"></i></span>
                                                <select id="pipeline" class="form-control" th:field="*{pipeline}" pattern="^(?=\s*\S).*$"
                                                        data-mismatch="Please add Number" required="required"
                                                        oninvalid="this.setCustomValidity('Select Pipeline')"
                                                        oninput="setCustomValidity('')">
                                                    <option value="">-SELECT-</option>
                                                    <option value="New">New</option>
                                                    <option value="Information Gathering">Information Gathering</option>
                                                    <option value="Proposal">Proposal</option>
                                                    <option value="Follow Up">Follow Up</option>
                                                    <option value="Closing">Closing</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="customer" class="cols-sm-2 control-label">Customer Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" id="customer" class="form-control" name="customer"  minlength="2" maxlength="60" th:field="*{customerName}"
                                                       required="required"
                                                       oninvalid="this.setCustomValidity('Customer Name min=2 max=60 char')"
                                                       oninput="setCustomValidity('')">
                                                </input>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="contact" class="cols-sm-2 control-label">Contact</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                                                <input type="text" id="contact" class="form-control" name="contact"
                                                       pattern="^\+?\d{0,15}$" maxlength="15" th:field="*{contact}"
                                                       data-mismatch="Please add Number" required="required"
                                                       oninvalid="this.setCustomValidity('Invalid Contact ..')"
                                                       oninput="setCustomValidity('')">
                                                </input>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="form-group col-lg-4">
                                        <label for="industry" class="cols-sm-2 control-label">Industry</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-arrows fa" aria-hidden="true"></i></span>
                                                <input type="text" id="industry" class="form-control" name="customer" minlength="2" maxlength="60" th:field="*{industry}"
                                                       data-mismatch="Please add Number" required="required"
                                                       oninvalid="this.setCustomValidity('Industry min=2 , max=60 char')"
                                                       oninput="setCustomValidity('')">
                                                </input>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="form-group col-lg-4">
                                        <label for="met" class="cols-sm-2 control-label">Customer Met</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" id="met" class="form-control" name="customer" minlength="2" maxlength="60" th:field="*{customerMet}"
                                                       data-mismatch="Please add Number" required="required"
                                                       oninvalid="this.setCustomValidity('Customer Met min=2 , max=60 char')"
                                                       oninput="setCustomValidity('')">
                                                </input>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <input id="button" type="submit" class="btn btn-primary btn-lg btn-block" value="Submit"></input>
                                    </div>
                                </form>

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>


        <!--Lst weeks sales -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Last Week for Sales (Table)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-lastWeek">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer Name</th>
                                <th>Pipeline</th>
                                <th>Contact</th>
                                <th>Industry</th>
                                <th>CustomerMet</th>
                                <th>Date</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="sale,itrStat: ${salesWeek}">
                                <td th:text="${itrStat.index}">0</td>
                                <td th:text="${sale.customerName}">Text ...</td>
                                <td th:text="${sale.pipeline}">Text ...</td>
                                <td th:text="${sale.contact}">Text...</td>
                                <td th:text="${sale.industry}">Text...</td>
                                <td th:text="${sale.customerMet}">Text...</td>
                                <td th:text="${sale.sDate.myDate}">Text...</td>
                                <td><a th:href="@{/forms-update-last-week(id=${sale.id})}"><img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Apps-system-software-update-icon.png"
                                                                                    class="img-responsive" alt="Update" /></a> </td>
                                <td><a th:href="@{|/delete/week/${sale.id}|}"><img src="http://icons.iconarchive.com/icons/seanau/email/24/Delete-icon.png"
                                                                                    class="img-responsive" alt="Update" /></a></td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
    $(document).ready(function() {

        $('#dataTables-allSales').DataTable({
            responsive: true
        });

        $('#dataTables-lastWeek').DataTable({
            responsive: true
        });

        $('#dataTables-lastSale').DataTable({
            responsive: true
        });

    });

</script>
<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>
<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>


</body>

</html>
